.noise{
	content: "";
	background-image: url(https://contra.com/freelance-industry-report-2021/images/background-noise.png?0140508b3ca119631050c945a1c2987c);
    animation: noise 1.2s steps(3) infinite both;
    opacity: 1;
    height: 1000%;
	transform-origin: center center;
    width: 100%;
    pointer-events: none;
    position: fixed;
    will-change: auto;
    z-index: 5; 
}

@keyframes noise {
    0% {
		transform: translate3d(1%, -1%, 0) scale(1.5);;
	}

	10% {
		transform: translate3d(-5%, -2%, 0) scale(1.5);;
	}

	20% {
		transform: translate3d(10%, 5%, 0) scale(1.5);;
	}

	30% {
		transform: translate3d(5%, -11%, 0) scale(1.5);;
	}

	40% {
		transform: translate3d(-12%, -5%, 0) scale(1.5);;
	}

	50% {
		transform: translate3d(10%, 9%, 0) scale(1.5);;
	}

	60% {
		transform: translate3d(15%, 0, 0) scale(1.5);;
	}

	70% {
		transform: translate3d(-10%, 8%, 0) scale(1.5);;
	}

	80% {
		transform: translate3d(10%, 2%, 0) scale(1.5);;
	}

	90% {
		transform: translate3d(1%, 5%, 0) scale(1.5);;
	}

	100% {
		transform: translate3d(0%, 8%, 0) scale(1.5);;
	}
}