body{
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}


#boxContent{
    
    background: #050010;
    position: absolute;
    top: 45px; 
    left: 5px;
    right: 10px;
    bottom: 10px;
    border-style:solid;
    border:2px solid rgb(211, 154, 247);
    padding: 0px;
    display: flex;
    

}
.content{

    width: 100%;
    height: 100%;
    margin: 0vh auto; 
    display: flex; 
    gap: 20px;
}
.content-top{
    height: 18vh;
}

.content-data{
    flex: 0 0 50%; 
    max-width: 900px;
    height: 100%;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
    margin-left: 5vw;
    order: 1;
}
 .content-text {
    flex: 1; 
    min-width: 400px;
    max-width: 800px;
    height: 100%;
    margin-right: 5vw;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
    order:2;
}



.content-data::-webkit-scrollbar, 
.content-text::-webkit-scrollbar {
    display: none;
}


h2{
    font-family: 'Pixeled',monospace;
    text-transform: uppercase;
    color: white;
    user-select: none;
    font-size: clamp(1.0rem,1.2vw,1.5rem)
    
}


p{
    padding: 0;
    font-family: 'Consolas',monospace;
    color: white;
    user-select: none;
    line-height: 1.2em;
    margin: 0.6em;
    margin-top:-0.20em;
}
.image-container{
    align-items: center;
    justify-content: center;
    padding: 3px;
    border: solid 2px rgb(211, 154, 247);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; 
    text-align: right; 
}
#space{
    display:inline-block;
    width: 100%;
    height: 2px;
}
 img {

    width: 100%;
    height: auto;
    opacity: 100%; 
  
    
}

canvas {display: block}

.three-canvas {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.three-canvas canvas {
    width: 100% !important;
    height: auto !important;
    display: block;

}

.image-container p {
    
    color: grey;
    margin: 5px;
    margin-right: -10px;

    font-size: small;

}

@media (max-width: 767px) {
    .content {
        flex-direction: column; 
        gap: 10px; 
    }

    .content-data, .content-text {
        margin: 0;
        flex: none; 
        width: 100%;
        height: auto; 
        overflow-y: visible;
    }

    .content-data {
        order: 2; 
    }

    .content-text {
        order: 1; 
    }

    #boxContent {
        overflow-y: auto;
    }

    .image-container p {
        margin-right: -4.5px;
    }
}
#tag-arq{
    color:#db5991;
}
#tag-inm{
    color:#63d2a8;
}
#tag-ins{
    color:#5ebcd2;
}
#tag-inv{
    color:#8e67d1;
}
#tag-par{
    color:#ddbc60;
}
