@font-face {
    font-family:"Pixeled";
    src: url('../fonts/pixeled.woff2');

   
}



body {
    margin: 0;
    overflow: hidden;
    background: #000000;
}

#scroll-container {
    position: fixed;
    bottom: 0;
    width: 100%;

    white-space: nowrap;
    color:rgb(158, 158, 158);
    z-index: 100;
}

#scroll-text{
    display: inline-block;
    padding-bottom:3px;
    user-select: none;
    font-family: 'Courier', monospace;
    font-size: 17px;
    
    animation: scroll-left 300s linear infinite;
 @media (max-width: 768px) {
        font-size: 16px;
    } 
}

#emptyNodesText{
    position: absolute;
    align-items: center;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    user-select: none;
    font-family: "Pixeled";
    color:rgb(105, 0, 65);
    font-size: 10px;
}


@keyframes scroll-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
